[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync mohamed@cock.li

[Install]
WantedBy=default.target
